@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

@layer base {
  body {
    font-family: "Manrope", system-ui, sans-serif;
    background-color: black;
    color: #f5f5f5;
  }
}
html {
  scroll-behavior: smooth;
}
